.titleBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 8rem;
  z-index: 1;

  .titleFloater {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0.5rem;
    height: 6rem;

    border: 1px solid darkgray;
    padding: 1rem;
    border-radius: 5rem;
    background-color: #ffffffc7;
    background-image: radial-gradient(circle at 50% 250%, darkgray, transparent);
    backdrop-filter: blur(0.125rem);
  }

  img {
    width: auto;
    height: 5rem;
  }
}
